body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.footer-text {
    color: white;
}

.text30 {
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px #d20505;
}


/* for background image  */

.bgimg {
    background: url(../img/background.jpg);
    height: auto;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    /* position: relative; */
    font-family: "Share Tech Mono";
}

.bgimg4 {
    background: url(../img/background.jpg);
    height: auto;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    /* position: relative; */
    font-family: "Share Tech Mono";
}


/* first section */

.fs {
    margin-top: 100px;
}


/* for center the page */

.center {
    /* height: 300px; */
    width: 500px;
    /* border: 2px solid black; */
    /* background: url(../img/mahendra.png); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* box-shadow: 0px 1px 20px 1px #adeffe; */
    border-radius: 15px;
    /* padding: 20px; */
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 28px;
}


/* to background blue */

.blur {
    /* height: 100%;
    width: 100%; */
    background: #00000096;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 1px 20px 1px #adeffe;
}


/* text formating */

.text-white {
    color: #fff;
}


/* adminhome styles */

.navbar-default {
    background-color: #000;
    border-color: #e7e7e700;
}

a.navbar-brand {
    color: #ffffff !important;
    font-size: 20px;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #04beff;
}

.navbar-nav>li>a.active {
    color: #04beff;
}


/* ADMIN PAGE EVENT REGISTRATION  */

.box {
    margin-top: 100px;
}

label.reglabel {
    font-weight: bold;
    color: #000;
    font-size: 18px;
}

p.view-desc {
    margin-left: 30px;
}

h4.view-desc-heading {
    font-weight: bold;
}


/* view qs */

.card {
    min-height: 60px;
    /* border: 2px solid red; */
    box-shadow: 0px 0px 4px #000;
    padding: 10px;
}


/* button */

.btn-delete {
    color: #ffffdf;
    background-color: #00000000;
    border-color: #fff;
}

.btn-edit {
    color: #fff;
    background-color: #00000000;
    border-color: #fff;
}

.blur-box {
    background: #0000008f;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
}

.blur-box2 {
    background: #000000ad;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
}

.event-title-student {
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}

.activestar {
    color: yellow;
}

rect {
    fill: #ffffff3f;
}

text {
    /* color: #fff; */
    fill: #000;
}


/* bootstrap oveerwritting */

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #0000005e;
    border: 1px solid #ddd;
}